<header class="caixa1">
    <img src="assets/img/cat.png" width="80px" alt="">
    <a class="login" href=""> Login</a> 
    <a class="regis" href="">Registrar</a>
    </header>
    <div class="img">
        <img src="assets/img/cat01.jpg" width="400px" alt="">
        <img src="assets/img/cat02.jpg" width="400px"  alt="">
        <img src="assets/img/cat05.jpg" width="400px"  alt="">
    </div>
    <div class="img1">
        <img src="assets/img/cat08.jpg"  width="400px" alt="">
        <img src="assets/img/cat11.jpg"  width="400px" alt="">
    </div>
    <div class="img2">
        <img src="assets/img/cat04.jpg" alt="">
    </div>
    <div class="img3">
        <img src="assets/img/cat12.jpg" width="400px" alt="">
        <img src="assets/img/cat09.jpg" width="400px"  alt="">
        <img src="assets/img/cat06.jpg" width="400px"  alt="">
    </div>
    <div class="img4">
        <img src="assets/img/cat03.jpg"  width="400px" alt="">
        <img src="assets/img/cat13.jpg"  width="400px" alt="">
    </div>
    <div class="img5">
        <img src="assets/img/cat07.jpg"  width="400px" alt="">
    </div>
    
